body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 50px;
}

.arrow-btn {
    font-size: 40rem;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
}

.nav-arrows {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.full-image {
    width: 90%;
    height: auto;
    display: block;
}







